@using Movie;
@model dynamic

@{
    ViewBag.Title = "bookChairs";

    var SoldChairs = Model.SoldChairs as List<int>;
    var ShowTimeInfo = Model.ShowTimeInfo as Movie.Models.BookingShowtime;
}

@section scripts{
    <script src="~/Scripts/Ajax/ChairBooking_Scripts.js"></script>
}

<head>
    <link rel="stylesheet" href="~/Asset/css/chair_booking.css" />
</head>


<ul class="showcase">
    <li>
        <div class="seat"></div>
        <small>Available</small>
    </li>
    <li>
        <div class="seat selected"></div>
        <small>Selected</small>
    </li>
    <li>
        <div class="seat sold"></div>
        <small>Sold</small>
    </li>
</ul>
<div class="container">
    <div class="screen"></div>

    @for (int i = 0; i < ViewBag.NumberOfColumn; i++)
    {
        <div class="row">
            @for (int j = 1; j <= ViewBag.NumberOfRow; j++)
            {
                int chairID = i * ViewBag.NumberOfRow + j;

                if (SoldChairs.Contains(chairID))
                {
                    <div class="seat sold" id="@chairID">
                        @(ViewBag.Alphabet[i].ToString() + j.ToString())
                    </div>
                }
                else
                {
                    <div class="seat" id="@chairID">
                        @(ViewBag.Alphabet[i].ToString() + j.ToString())
                    </div>
                }
            }
        </div>
    }

    <div class="showtime-info">
        @*@Html.ActionLink("QUAY LẠI")*@
        <div class="showtime-info--image"> </div>
        <div class="showtime-info--movie_name"> </div>
        <div class="showtime-info--place"> </div>
        <div class="showtime-info--chair_price"> </div>
         @Html.ActionLink("ĐẶT VÉ","BookTicket",new {bookingShowtime = ShowTimeInfo})
    </div>
</div>






