@using Movie;
@model dynamic

@{
    ViewBag.Title = "bookChairs";

    var SoldChairs = Model.soldChairs as List<int>;
    var ShowTimeInfo = Model.showTimeInfo as Movie.Models.BookingShowtime;
}

@section scripts{
    <script src="~/Scripts/Ajax/ChairBooking_Scripts.js"></script>
    <link href="~/Asset/css/ticketBooking.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
}

<head>
    <link rel="stylesheet" href="~/Asset/css/chair_booking.css" />
</head>


<ul class="showcase">
    <li>
        <div class="seat"></div>
        <small>Có thể chọn</small>
    </li>
    <li>
        <div class="seat selected"></div>
        <small>Đã chọn</small>
    </li>
    <li>
        <div class="seat sold"></div>
        <small>Đã bán</small>
    </li>
</ul>

<div class="container">
    <div class="screen"></div>

    @for (int i = 0; i < ViewBag.NumberOfColumn; i++)
    {
        <div class="row">
            @for (int j = 1; j <= ViewBag.NumberOfRow; j++)
            {
                int chairID = i * ViewBag.NumberOfRow + j;

                if (SoldChairs.Contains(chairID))
                {
                    <div class="seat sold" id="@chairID">
                        @(ViewBag.Alphabet[i].ToString() + j.ToString())
                    </div>
                }
                else
                {
                    <div class="seat" id="@chairID">
                        @(ViewBag.Alphabet[i].ToString() + j.ToString())
                    </div>
                }
            }
        </div>
    }
</div>
<div class="showtime-info">
    <a class="button back-btn" @Url.Action("bookChairs", new {idShowtime = ShowTimeInfo.Id})>
            <span> <strong> QUAY LẠI </strong> </span>
    </a>

    <div class="showtime-info--image">
        <img src="https://upload.wikimedia.org/wikipedia/vi/b/b0/Avatar-Teaser-Poster.jpg"
             alt="Đây là ảnh phim" />
    </div>

    <div class="showtime-info--detail">
        <span class="showtime-info--movie_name"> Bộ phim: @ShowTimeInfo.MovieName </span>
        <span class="showtime-info--type"> Định dạng: @ShowTimeInfo.Type </span>
    </div>

    <div class="showtime-info--place">
        <span class="showtime-info--movie_theater_name"> Rạp: @ShowTimeInfo.MovieTheaterName </span>
        <span class="showtime-info--start_time"> Suất chiếu: @ShowTimeInfo.StartTime.ToShortTimeString(), @ShowTimeInfo.StartTime.ToShortDateString()</span>
        <span class="showtime-info--room_name"> Phòng chiếu: @ShowTimeInfo.RoomName </span>
    </div>

    <div class="showtime-info--price">Tổng: <span class="chair-price"></span></div>
    @Html.ActionLink("ĐẶT VÉ", "bookTicket", new { idBookingShowtime = ShowTimeInfo.Id}, new {@class = "button next-btn" })
</div>






