@model IEnumerable<Movie.Models.Film>

@{
    ViewBag.Title = "Phim Đang Chiếu";
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/Asset/css/movie_booking.css" />
</head>
<h2>Phim Đang Chiếu</h2>


<div class="grid-container">
    @foreach (var item in Model)
    {
        <div class="grid-item" id="@item.Id" oncl>
            <div class="product-images" >
                <a href="@Url.Action("bookShowTimeByIdFilm","Home", new {idFilm = item.Id})">
                <img class="product-image" src="@item.ImageUrl" alt=""/>
                </a>
            </div>
            <div class="product-detail">
                <h3 class="product-detail--name">@item.FilmName</h3>
                <div class="product-detail--duration">
                    <span>Thời lượng:</span>
                    <span>@item.Duration phút</span>
                </div >
                @Html.ActionLink("Đặt vé", "bookShowTimeByIdFilm", "Home", new { idFilm = item.Id })
            </div>
        </div>

    }

</div>